<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="mage2HelloMagento2Cmd" xsi:type="object">Mage2\HelloMagento2Cmd\Command\Index</item>
            </argument>
        </arguments>
    </type>

    <preference
            for="Mage2\HelloMagento2Cmd\Model\MessageInterface"
            type="Mage2\HelloMagento2Cmd\Model\HelloMessage" />

</config>